.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    h2 {
        cursor: pointer;
        font-weight: 300;
    }

    h2 {
        background: linear-gradient(currentColor 0 0) 0 100% / var(--d, 0) 2px
            no-repeat;
        transition: 0.5s;
    }
    h2:hover {
        --d: 100%;
    }

    .pages {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 2rem;
    }

    // @media (max-width: 760px) {
    //     h2 {
    //         font-size: 1rem;
    //     }
    //     .pages {
    //         gap: 1rem;
    //     }
    // }
    // @media (max-width: 430px) {
    //     h2 {
    //         font-size: 0.8rem;
    //     }
    //     .pages {
    //         gap: 0.2rem;
    //     }
    // }
}
h2:hover {
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    color: lighten($color: black, $amount: 40%);
    color: lighten($color: black, $amount: 40%);
}

a:hover {
    transition-timing-function: ease-in-out;
    transform: scale(110%);
    transition-duration: 400ms;
}

a:has(h2):hover {
    transform: unset;
}

a {
    display: flex;
    color: inherit;
    padding: 0;
    text-decoration: none;
}

:global {
    .ant-drawer .ant-drawer-content-wrapper {
        max-width: 70vw;
    }
    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        h2,
        a {
            cursor: pointer;
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0;
        }
    }
    .ant-drawer-footer {
        display: flex;
        justify-content: space-around;
        a {
            font-size: 1.5rem;
        }
    }
}
