.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .links {
        display: flex;
        gap: 1rem;
    }
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem;
}
